body{
    padding-top: 0;
}
div.margin-top {
    margin-top: 100px;
}
.dashboard-section{
    min-height: 500px;
}
.dashboard-section1{
    min-height: 400px;
}
section#table{
    min-height: 400px;
}
.m-top{
    margin-top: 5%;
}